<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    
<!-- 
  <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.cthing.cmakeed.ui.editor.CMakeEditor"
            name="CMake Wizards">
      </category>
      <wizard
            category="com.cthing.cmakeed.ui.editor.CMakeEditor"
            class="com.cthing.cmakeed.ui.editor.wizards.CMakeFileNewWizard"
            icon="icons/CMakeLogo.gif"
            id="com.cthing.cmakeed.ui.editor.wizards.CMakFileNewWizard"
            name="New CMake file based on a template">
      </wizard>
   </extension>
  --> 
  
    <extension point="org.eclipse.ui.contexts">
      <context
            name="Editing CMake Source"
            id="com.cthing.cmakeed.ui.cmakeEditorScope"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.cthing.cmakeed.ui.editor.CMakeEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="cmake,ctest"
            icon="icons/CMakeLogo.gif"
            id="com.cthing.cmakeed.ui.editor.CMakeEditor"
            name="%editor.name">
         <contentTypeBinding contentTypeId="com.cthing.cmakeed.CMakeFileType"/>
      </editor>
   </extension>
   
   
   <extension
         id="CMakeDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.cthing.cmakeed.ui.editor.CMakeDocumentSetupParticipant"
            extensions="cmake"
            fileNames="CMakeLists.txt,CMakeLists.txt.in,*.cmake,*.cmake.in">
      </participant>
   </extension>
   
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cmake,ctest"
            file-names="CMakeLists.txt,CMakeLists.txt.in"
            id="com.cthing.cmakeed.CMakeFileType"
            name="%content-type.name"
            priority="normal">
    </content-type>
 </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            name="%CMakePreferences.Name"
            class="com.cthing.cmakeed.ui.prefs.PrefPage"
            id="com.cthing.cmakeed.ui.prefs.PrefPage">
            </page>
     <page
            name="%CMakeTemplatePreferences.Name"
            category="com.cthing.cmakeed.ui.prefs.PrefPage"
            class="com.cthing.cmakeed.ui.prefs.TemplatesPreferencePage"
            id="com.cthing.cmakeed.ui.prefs.TemplatesPreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.cthing.cmakeed.ui.prefs.Initializer"/>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
   
<!-- =========================================================================== -->
<!-- Templates                                                                   -->
<!-- =========================================================================== -->  
   
   <extension
         point="org.eclipse.ui.editors.templates">
       <contextType
            name="%cmake.contextType.name"
            class="com.cthing.cmakeed.ui.editor.template.CMakeContextType"
            id="com.cthing.cmakeed.ui.editor.cmake">
      </contextType>
    <template
          autoinsert="true"
          contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
          description="%cmake.commands.if.description"
          icon="icons/CMakeTemplate.png"
          id="com.cthing.cmakeed.ui.editor.cmake.if"
          name="%cmake.commands.if.name"> 
        <pattern>if(${statement})
  ${cursor}
endif(${statement})
    </pattern>
    </template>
        <template
          autoinsert="true"
          contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
          description="%cmake.commands.while.description"
          icon="icons/CMakeTemplate.png"
          id="com.cthing.cmakeed.ui.editor.cmake.while"
          name="%cmake.commands.while.name"> 
        <pattern>while(${statement})
  ${cursor}
endwhile(${statement})
    </pattern>
    </template>
    <template
          autoinsert="true"
          contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
          description="%cmake.commands.foreach.description"
          icon="icons/CMakeTemplate.png"
          id="com.cthing.cmakeed.ui.editor.cmake.foreach"
          name="%cmake.commands.foreach.name"> 
        <pattern>foreach(${var} ${list})
  ${cursor}
endforeach(${var} ${list})
    </pattern>
    </template>
    <template
          autoinsert="true"
          contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
          name="%cmake.commands.macro.name"
          description="%cmake.commands.macro.description"
          icon="icons/CMakeTemplate.png"
          id="com.cthing.cmakeed.ui.editor.cmake.macro"> 
        <pattern>macro(${macroName} ${args})
  ${cursor}
endmacro(${macroName} ${args})
    </pattern>
    </template>    
    
<template
      autoinsert="true"
      contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
      description="%cmake.commands.cblock.description"
      icon="icons/CMakeTemplate.png"
      id="com.cthing.cmakeed.ui.editor.cmake.cblock"
      name="%cmake.commands.cblock.name">
<pattern>
# --------------------------------------------------------------------
# ${cursor}
# --------------------------------------------------------------------
</pattern>
</template>    
    
<template
      autoinsert="true"
      contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
      description="%cmake.commands.mark.description"
      icon="icons/CMakeTemplate.png"
      id="com.cthing.cmakeed.ui.editor.cmake.mark"
      name="%cmake.commands.mark.name">
<pattern>
# --------------------------------------------------------------------
</pattern>
</template> 

<template
      autoinsert="true"
      contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
      description="%cmake.commands.status.description"
      icon="icons/CMakeTemplate.png"
      id="com.cthing.cmakeed.ui.editors.cmake.status"
      name="%cmake.commands.status.name">
<pattern>
message(STATUS "${cursor}")
</pattern>
</template>

<template
      autoinsert="true"
      contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
      description="%cmake.commands.error.description"
      icon="icons/CMakeTemplate.png"
      id="com.cthing.cmakeed.ui.editor.cmake.error"
      name="%cmake.commands.error.name">
<pattern>
message(FATAL_ERROR "${cursor}")
</pattern>
</template>

<template
      autoinsert="true"
      contextTypeId="com.cthing.cmakeed.ui.editor.cmake"
      description="%cmake.commands.printvar.description"
      icon="icons/CMakeTemplate.png"
      id="com.cthing.cmakeed.ui.editor.cmake.printvar"
      name="%cmake.commands.printvar.name">
<pattern>
message(STATUS "${variable}: $${${variable}}")
</pattern>
</template>
</extension>

<!-- =========================================================================== -->
<!-- Commands                                                                    -->
<!-- =========================================================================== -->  
 <extension
       point="org.eclipse.ui.commands">
       <category
          name="CMakeEd"
          id="cmakeed.category"/>
       <command
             categoryId="cmakeed.category"
             defaultHandler="com.cthing.cmakeed.ui.editor.handlers.ToggleCommentHandler"
             description="Comment/Uncomment selected lines"
             id="com.cthing.cmakeed.ui.ToggleComment.Command"
             name="Toggle Comment">
       </command>
 </extension>
<!-- =========================================================================== -->
<!-- Key Bindings                                                                -->
<!-- =========================================================================== -->  
 <extension point="org.eclipse.ui.bindings">
    <key
          commandId="com.cthing.cmakeed.ui.ToggleComment.Command"
          contextId="com.cthing.cmakeed.ui.cmakeEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+/"/>
    <key
          commandId="com.cthing.cmakeed.ui.ToggleComment.Command"
          contextId="com.cthing.cmakeed.ui.cmakeEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+7"/>
    <key
          commandId="org.eclipse.ui.edit.text.shiftLeft"
          contextId="com.cthing.cmakeed.ui.cmakeEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+SHIFT+TAB">
    </key>
    <key
          commandId="org.eclipse.ui.edit.text.shiftRight"
          contextId="com.cthing.cmakeed.ui.cmakeEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="SHIFT+TAB">
    </key>
 </extension>

 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:com.cthing.cmakeed.ui.editor.CMakeEditor.EditorContext?after=group.edit">
          <command
                commandId="com.cthing.cmakeed.ui.ToggleComment.Command"
                mnemonic="C">
          </command>
    </menuContribution>
 </extension>
</plugin>
