<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.2"?> 
<plugin>
<!-- ********************************************* -->
<!-- CMake Variables Section -->
<!-- ********************************************* -->
  <extension-point id="variables" 
                 name="%variables-extension-point.name" 
                 schema="schema/variables.exsd"/> 
<!-- ********************************************* -->
<!-- CMake Properties Section -->
<!-- ********************************************* -->
  <extension-point id="properties" 
                 name="%properties-extension-point.name" 
                 schema="schema/properties.exsd"/> 
<!-- ********************************************* -->
<!-- CMake Commands Section -->
<!-- ********************************************* -->
  <extension-point id="commands" 
                 name="%commands-extension-point.name" 
                 schema="schema/commands.exsd"/> 
<!-- ********************************************* -->
<!-- CMake Reserved Words Section -->
<!-- ********************************************* -->
  <extension-point id="reservedwords" 
                 name="%reservedwords-extension-point.name" 
                 schema="schema/reservedwords.exsd"/> 
</plugin> 
